.topic-item-metadata {
  position: relative;
  .topic-item-stats__mobile-created-date {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: var(--font-down-1);
    z-index: 5;
    margin-right: 3px;

    span.relative-date {
      float: unset;
      margin: unset;
    }
  }
}
.topic-list
  .topic-item-metadata:has(
    > .topic-item-stats__mobile-created-date[data-has-created]
  )
  .topic-item-stats {
  flex-flow: row wrap;
  .num.activity {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: inline-block;
    position: relative;
    .age.activity .relative-date {
      width: 0;
      font-stretch: ultra-condensed;
      &::before {
        content: attr(data-time);
      }
    }
  }
}

// prevent standard display in topic list thumbnail blog style
.topic-thumbnails-blog-style-grid,
.topic-thumbnails-grid,
.topic-thumbnails-masonry,
.topic-thumbnails-minimal {
  .topic-item-stats__mobile-created-date {
    display: none;
  }
}
